{% extends 'main.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/about.css' %}">
{% endblock %}

{% block content %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src=" "class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Car dealer</h5>
          <p class="card-text">Our award winning strategies provide professionals<br>
             in the auto dealership industry with a <br>
             comprehensive online marketing platform <br>
             designed to give you a distinct edge.
          </p>
         
        </div>
      </div>
      <marquee>
          We are always happy to serve you.Welcome once again for many offers.
      </marquee>
    </div>
  </div>

{% endblock %}