{% extends 'main.html' %}
{% load static %}
{% load bootstrap4 %}

{% block link %}
<link rel="stylesheet" href="{% static 'styles/contact-us.css' %}">
{% endblock %}

{% block content %}
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->












{% endblock %}